@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

div{
    width: 30%;
    margin: 20px auto;
}

#formulario{
    background: #24323D;
    border: 2px #000000 solid;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    height: 17rem;
}

h1{
    color: #1AB188;
    text-align: center;
}

.grupo{
    margin: 10px 100px;
    padding: 5px;
}

input{
    border: 1px #ffffff solid;
    background: #2d4f69;
    color: #ffffff;
    height: 1.5rem;
}

#ingresar{
    text-transform: uppercase;
    background: #1AB188;
    color: #ffffff;
    height: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 134px;
}